<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>All users db</title>
<style type="text/css">
table.users {
	border-width: 0px;
	border-color: gray;
	border-collapse: collapse;
}

table.users th, table.users td {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
}

table.users th {
	font-weight: bold;
}

a {
	color: red;
}
</style>
</head>
<body>
	<div style="color: green" wicket:id="succes"> </div>
	<div style="color: red" wicket:id="feedback"></div>
	<table wicket:id="users" class="users"></table>

	<span wicket:id="panel"></span>

</body>
</html>